<div class="container">
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <img src="/images/banner-calendar-app.webp" alt="">
        </div>
        <div class="d-grid gap-2 mt-3">
            <a class="btn btn-primary" href="/owner/list" type="button">Start booking now</a>
        </div>
    </div>
</div>